<div id="posts_index">
  <h1>Listing posts</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>author</th>
        <th>featured?</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td class="title"><%= link_to post.title, post %></td>
          <td><%= post.body %></td>
          <td>
            <% if post.user %>
              <%= post.user.email %>
            <% end %>
          </td>
          <td><%= post.featured? %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path %>
  <br>
  <%= link_to 'Delete my posts', delete_my_posts_posts_url %>
</div>